---
const title = "Welcome to My Astro SSG Project!";
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>This is a simple Astro SSG project.</p>
    <a href="/about">Learn more about us</a>
  </body>
</html>
