---
const greeting = "Welcome to my Astro SSR Project!";
---

<html>
  <head>
    <title>Astro SSR Example</title>
  </head>
  <body>
    <h1>{greeting}</h1>
    <p>This is a simple Astro SSR project.</p>
  </body>
</html>
